<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>

	<% include ../partials/header %>

	<div class="container">	
	  	<br>
	  	<p>OTP <%= otp %> sent.</p>
	    <a class="btn btn-primary" href="/" role="button">Home</a>

	</div>

	
	<% include ../partials/footer %>

</body>
</html>